* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 10px;
}

html {
    height: 100%;
    height: -webkit-fill-available;
}

body {
    height: 100vh;
    height: -webkit-fill-available;
    /* background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%); */


}

.hamburger {
    position: fixed;
    top: 0%;
    right: 0%;
    margin: 5%;
    z-index: 1;
    color: rgb(255, 194, 0);
    text-shadow: black 1px 1px 1px;
}

.hamburger i {
    font-size: 3rem;
}

header {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
    z-index: 1;

}